language: java
jdk:
- oraclejdk8
services:
- mysql
- redis-server
install:
  - mvn -N io.takari:maven:wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
cache:
  directories:
  - $HOME/.m2/repository
before_install:
  - mysql -e 'CREATE DATABASE reader;'
script:
  - ./mvnw test
